---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"
import SubSection from "../../components/SubSection.astro"
import Image from "../../components/Image.astro"
import Searchbar from "../../components/Searchbar.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
---

<Layout title="About">

<SubSection title="Navigation and usage">
        <p class="mb-5 d-none d-xl-block">
            Use the expandable sidebar menu on the left to explore the topics for a certain course, and navigate to your desired page.
        </p>

        <Searchbar />

        <p class="my-3">
            Use the searchbar that looks exactly like the one above to lookup a particular keyword (I'm in the navbar at the top)! You can filter between the courses, or search across all of them at once.
        </p>
       

    <CalloutContainer slot="cards">
        <CalloutCard>
            You can toggle between light and dark mode? The button is located in the navbar at the top of each page. On desktop, it should be right above me! 
        </CalloutCard>
    </CalloutContainer>
</SubSection>

<SubSection title="In-page features">
        <p>Pages contain blue boxes, meant to give you helpful tips, extra information, or show applications of the material being discussed!</p>
        <Row>
            
            <Col values="6 md-8 lg-9">
                <p>
                    You can also find a in-page navigation menu, showing you all the sections and subsections in the page, and allow you to navigate to them in one click. On phones and tablets, this is located at the top of the page, and on desktops and laptops it is below the sidebar menu.
                </p>
            </Col>
            <Col values="6 md-4 lg-3">
                <img src="/light-menu.png" class="w-100" id="menu-demo"/>

                <script>
                    if (theme == 'dark'){
                        document.querySelector("#menu-demo").src = "/dark-menu.png"
                    }
                </script>
            </Col>
        </Row>      
</SubSection>
 
<SubSection title="SIIP efforts in TAM 2XX">
    <Image src="/about/studentLearningOutcomes.PNG" width="7"/>
    <Image src="/about/assessmentOfLearning.PNG" width="7"/>
    <Image src="/about/activeAndCollabLearning.PNG" width="7"/>
    <Image src="/about/blendedLearning.PNG" width="7"/>
    <Image src="/about/referencePage.PNG" width="7"/>
    <Image src="/about/onlineHomework.PNG" width="7"/>
    <Image src="/about/quizRetries.PNG" width="7"/>
</SubSection>

<SubSection title="Importance of collaboration in learning">
    <p>The TAM 2XX staff has worked on engineering education research with the <a target="_blank" href="https://www.colearnlab.org/" >Collaborative Learning Laboratory</a> in the Department of Education. This project is called Collaborative Support Tools for Engineering Problem Solving (CSTEPS).</p>

    <p>As Teaching and Course Assistants, we try to encourage a collaborative environment using the principle of this  <a target="_blank" href="/about/CollabTeachingSequence.pdf">teaching sequence.</a></p>
</SubSection>
</Layout>
