---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"
import SubSection from "../../components/SubSection.astro"
import Image from "../../components/Image.astro"
import Row from '../../components/Row.astro';
import Col from '../../components/Col.astro';
---

<Layout title="About">

<SubSection>
       <p> Mission </p>
       <p>  Create quality and freely accessible on-line educational materials that enhance student curiosity, connection and creates value for for both student and instructor.</p>
</SubSection>

<SubSection>
       <p> Project history </p>
       <p> The course reference pages began as part of a larger college-wide effort from the University of Illinois at Urbana Champaign (UIUC) Strategic Instructional Initiatives Program (SIIP).  
              The reference pages were created using a Community of Practice (COPs) model which centers on instructors and staff committed to the collaborative development of educational resources.  
              Initial pages for Dynamics were developed by Prof. Matt West and with the formation of the COPs have now been extended to multiple courses offered by the Department of Mechanical Science and Engineering.
              The pages are under continual development and revision by a dedicated team of faculty, graduate assistants, and undergraduate students.</p>
       <p> The working theory of the reference pages is that they should be accessible, interactive, and engaging.   </p>
</SubSection>

<SubSection>
       <p> Our team </p>
       <p>  </p>
</SubSection>

<SubSection>
       <p> Acknowledgements </p>
       <p> Funding for the development of the course reference pages has been provided by: </p>
       <p> The Grainger College of Engineering Strategic Instructional Innovations Program</p>
        <p> Kern Family Foundation </p>
        <p> Department of Mechanical Science and Engineering </p>
</SubSection>

</Layout>
