---
import Layout from "../../layouts/Layout.astro"
import Section from "../../components/Section.astro"
import SubSection from "../../components/SubSection.astro"
import Image from "../../components/Image.astro"
import Row from '../../components/Row.astro';
import Col from '../../components/Col.astro';
---

<Layout title="About">

<SubSection>
       <p> Mission </p>
       <p>  Create quality and freely accessible on-line educational materials that enhance student curiosity, connection and creates value for for both student and instructor.</p>
</SubSection>

<SubSection>
       <p> Project history </p>
       <p>  </p>
</SubSection>

<SubSection>
       <p> Our team </p>
       <p>  </p>
</SubSection>

</Layout>
