
/*****************************************************************************/

table.centerMass {
    width: 100%;
}

table.centerMass td:first-child {
    width: 300px;
}

table.centerMass canvas {
    border: 0px;
}

#reg-xc .question {
    height: 210px;
}

/*****************************************************************************/
