---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import Center from "../../components/Center.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import Warning from "../../components/Warning.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import Example from "../../components/Example.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---

<Layout title = "Ackerman steering geometry" description = "Learn how rigid body kinematics applies to Ackerman steering geometry.">






  <div hidden>
    <PrairieDrawCanvas id = "rkg-fw-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-fr-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-xp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-xc-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-fd-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-cm-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcl-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcp-cs" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcf-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcf-s" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xlc-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-sa" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-s1" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-s2" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avs-ft-c" width = "1" height = "1"/>
  </div>

<Section title="Ackerman steering geometry"  id="ackerman_steering">
  <p>
    In a conventional car, the rear two wheels are fixed to
    point straight ahead, while the front two wheels must turn
    at different but matched angles. To achieve the correct
    front wheel angles, cars typically use a four-bar linkage as
    shown below. The pins at \(A\) and \(B\) are called
    <em>kingpins</em> (normally actually ball joints in modern
    cars), the \(CD\) rod is called the <em>tie rod</em>, and the
    \(AD\) and \(BC\) rods are called <em>steering arms</em>. By
    correctly choosing the lengths of the linkage rods, the car
    steering will automatically produce nearly correctly matched
    front wheel angles to make a perfect turn with any radius of
    curvature.
  </p>

  <PrairieDrawCanvas id="avs-fr-c" width="600" height="800">
    <p class="controls">
      <button class="anim-toggle:avs-fr-c" onclick="avs_fr_c.toggleAnim();">animation</button>
      <button class="option-toggle:avs-fr-c:showLabels" onclick="avs_fr_c.toggleOption('showLabels');">labels</button>
      <button class="reset:avs-fr-c" onclick="avs_fr_c.reset();">reset</button>
    </p>
    <div class="w-100">
      <div class="d-flex  align-items-baseline">
        <p class="m-0 flex-shrink-1">Steering pivot offset angle:</p>
          <div class="flex-grow-1 d-flex align-items-baseline">
              <input type="range" min="-4" max="7" value="0" step="0.1" class="data-input:avs-fr-c:pivotAngleDeg flex-grow-1 mx-2" onchange="avs_fr_c.setOption('pivotAngleDeg', this.value); document.querySelector('span[class*=pivotAngleDegsteering]').innerText = this.value; console.log(this.value);" oninput="avs_fr_c.setOption('pivotAngleDeg', this.value); document.querySelector('span[class*=pivotAngleDegsteering]').innerText = this.value;"/>
                  \(\theta = \; \) <span class="data-option:avb-fp-c:pivotAngleDegsteering">0</span>\(^\circ\)
          </div>
      </div>
    </div>
    <p class="figureCaption mt-2">
      Adjustable Ackerman steering geometry. The graph shows the
      radius of curvature for the two front wheels as a function
      of the rack offset \(d\).
    </p>
  </PrairieDrawCanvas>

  <CalloutContainer slot="cards">
    <CalloutCard>
      <p>
            Three wheeled vehicles with two wheels in back and one in
            front (a <em>delta</em> or <em>tricycle</em>
            configuration) avoid the need for complicated steering
            geometry, leading Karl Benz to use this system in the
            world's <a
            href="http://en.wikipedia.org/wiki/Benz_Patent_Motorwagen">first
            automobile</a>.
        </p>

      <Image src="/dyn/rigid_body_kinematics/avs_Motorwagen_Serienversion_shaved_small.jpg" alt="Benz Patent-Motorwagen Nr. 3." width="8">
        <p class="caption">
          Benz Patent-Motorwagen Nr. 3 from 1888. Image credit:
          <a
          href="http://commons.wikimedia.org/wiki/File:Motorwagen_Serienversion.jpg">Wikimedia
          Commons</a> (<a
          href="http://creativecommons.org/licenses/publicdomain/">public
          domain</a>) (<a
          href="avs_Motorwagen_Serienversion.jpg">full-sized
          image</a>).
        </p>
      </Image>
      <p>
        <a href="">Episode 4 of Season 9</a> of <a
        href="http://en.wikipedia.org/wiki/Top_Gear_(2002_TV_series)">Top
        Gear</a> featured a <a
        href="http://www.youtube.com/watch?v=_bIn_ZgHJaE">segment</a>
        on the <a
        href="http://en.wikipedia.org/wiki/Reliant_Robin">Reliant
        Robin</a>, a three-wheel car produced in the 1970s in the
        United Kingdom. This Top Gear episode clearly demonstrates
        some of the reasons that single-wheel steering systems for
        cars have not achieved long-lasting commercial success.
      </p>
      <p>
        <a
        href="http://en.wikipedia.org/wiki/Three_wheeled_car">Three-wheeled
        cars</a> were rather popular with British manufacturers in
        the 1960s and 1970s. As well as single-wheel-in-front
        models like the Reliant Robin, there were also production
        cars with a single wheel in the back (a <em>tadpole</em>
        configuration). An example of this is the smallest
        production car ever made, the <a
        href="http://en.wikipedia.org/wiki/Peel_P50">Peel 50</a>,
        shown in another <a
        href="http://www.youtube.com/watch?v=dJfSS0ZXYdo">Top Gear
        episode</a> (Series 10, Episode 3).
      </p>
    </CalloutCard>
    <CalloutCard title = "Reference material">
      <p>
        This application uses <a href = "/dyn/rigid_body_kinematics#rigid_bodies">rigid bodies.</a>
      </p>
    </CalloutCard>
  </CalloutContainer>
</Section>

  <div hidden>
    <PrairieDrawCanvas id = "aml-fk-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "aml-fs-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "aml-fw-c" width = "1" height = "1"/>
  </div>

<script src="/dyn/rigid_body_kinematics/canvases.js" is:inline></script>
</Layout>