---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import Center from "../../components/Center.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import Warning from "../../components/Warning.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import Example from "../../components/Example.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import CalloutContainerContainer from "../../components/special/CalloutContainerContainer.astro"
import Slideshow from "../../components/Slideshow.astro";

---
<Layout title="Capsizing ships">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#background'>Background</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#principles_of_stability'>Principles of stability</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#stability_comparisons'>Stability comparisons</a>
                <ul class='list-group list-group-flush py-0'> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#simple'>Simple pendulum</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#inverted'>Inverted pendulum</a></li>
                </ul>
            </li>
        </ul>
    </div>

<Section title = "Capsizing ships" id = "capsizing_ships"></Section>
    
<SubSection title = "Background" id = "background">

    
    
    <CalloutContainer slot = 'cards'>
        
        <CalloutCard title="Reference material.">
           
<p> This application uses <a href="/dyn/rigid_body_kinetics#center_of_mass">center of mass.</a> </p>


        </CalloutCard>

        <CalloutCard title="Extra!">
        <p class="m-0"><u>Supplemental video:</u></p>
            
<p class="m-0">Watch how boats can be engineered and tested to correct any capsizing movements. </p>
<iframe src="https://www.youtube.com/embed/ggNx7G6i664" class="w-100" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


        </CalloutCard>
                
        <CalloutCard  title="Review?">

            <p>
                The center of buoyancy (<InlineEquation equation="B" />) is the point where the total buoyant force on a 
                submerged or floating object acts. You can think of it as the center of gravity of 
                the volume of fluid displaced by the object. This term is crucial for understanding 
                stability and equilibrium in hydrodynamics. 
            </p>


        </CalloutCard>

    </CalloutContainer>

<p>
    The <a target="_blank" rel="noopener noreferrer" 
    href="https://www.cnn.com/2021/09/14/us/golden-ray-cargo-ship-ntsb-report/index.html">MV Golden Ray</a>, a 656-foot long roll-on/roll-off vehicle carrier, collapsed on 
    8 September 2019 in between the Colonel's Island Terminal in the Port of Brunswick, Georgia, and Baltimore, Maryland.    
</p>

    <Image alt = "Capsized ship" src = "/dyn/the_capsizing_ship/Capsized_ship.jpg" width = 5>

    <p class = "figureCaption">
        The MV Golden Ray <a target="_blank" rel="noopener noreferrer" 
        href="https://en.wikipedia.org/wiki/MV_Golden_Ray">capsized
        </a> on 8 September 2019 in 
        St. Simons Sound near the Port of Brunswick in Georgia, United States. 
        Image credit: <a target="_blank" rel="noopener noreferrer" 
        href="https://commons.wikimedia.org/wiki/File:Coast_Guard_rescue_Golden_Ray_1.jpg?uselang=en#/media/File:Coast_Guard_rescue_Golden_Ray_1.jpg"> 
        U.S. Coast Guard District 7 PADE</a> <a target="_blank" rel="noopener noreferrer" 
        href="https://creativecommons.org/publicdomain/mark/1.0/">(CC PDM 1.0)</a>.
    </p>
    </Image>

    <p>
        After an investigation by the <a target="_blank" rel="noopener noreferrer" 
    href="https://www.ntsb.gov/Pages/home.aspx">National Transportation Safety Board (NTSB)</a>, 
        it was found that the ship collapsed due to the use of erroneous ballast (cargo, weights, etc.) quantities in the stability 
        calculation program, which produced incorrect stability conditions of the ship. In other words, a 
        moment was generated from the location difference between the center of mass and the center of buoyancy.
        This moment arm produced an angular acceleration (<InlineEquation equation="\\alpha" />) opposite to the angular displacement
        (<InlineEquation equation="\\theta" />), meaning the ship was unstable. This failure to account for changes in ballast quantities 
        meant the ships hull could not provide a counter moment to these forces, and the ship capsized.
    </p>


</SubSection>

<SubSection title = "Principles of stability" id = "principles_of_stability">
    
       <Slideshow id = "capsizing_ship_fig">
        <Image alt = "Stability of ship 1" src = "/dyn/the_capsizing_ship/Stability_of_ship_1.png" width = 5></Image>

        <Image alt = "Stability of ship 2" src = "/dyn/the_capsizing_ship/Stability_of_ship_2.png" width = 5></Image>
        
        <Image alt = "Stability of ship 3" src = "/dyn/the_capsizing_ship/Stability_of_ship_3.png" width = 5></Image>
        
    </Slideshow>
    <p style="text-align: center; font-style: italic;">
        Image credit: National Transportation Safety Board
    </p>

    <p>
    Ship stability reflects the relationship between buoyancy (the force pushing up on the ships center of buoyancy, <InlineEquation equation="B" />) 
    and gravity (the force pushing down on the ships center of gravity, <InlineEquation equation="G" />). 
    When a vessel is floating upright, the force of gravity and buoyancy are vertically aligned. 
    Vessel stability is usually expressed as the heeling (tilting) moment magnitude necessary to capsize the 
    ship at a specified heeling angle.
    </p>

<p>
    When a disturbing force, such as waves or wind, exerts an inclining moment on a ship, 
    the ship's underwater volume shifts, causing the center of buoyancy to move.
    A ship's metacenter (<InlineEquation equation="M" />) is the virtual intersection between the lines from (1) the original center of buoyancy and (2) 
    the new, heeling center of buoyancy. The distance from a ship's center of gravity to its metacenter is known as the 
    metacentric height (<InlineEquation equation="GM" />), and is used to determine stability. A negative value indicates instability. 
    </p>


    <p>
    Unless the ballast is allowed to change, the center of gravity remains the same, causing the two force directions to become unalligned, 
    risking this negative <InlineEquation equation="GM" /> value. If ballast allows the restoring moment exertion to bring the ship to an even keel, 
    the <InlineEquation equation="GM" /> is positive and the moment is
    known as the righting moment arm. 
    </p>

    

    


</SubSection>

<SubSection title = "Stability comparisons" id = "stability_comparisons">
    </SubSection>
    <SubSubSection title = "Simple pendulum" id = "simple">

     A simple pendulum can be thought of as a mechanical analog of a ship. 
    Simple pendulums experience a restoring torque when in an unstable position that brings it back to equilibrium, 
    similar to the function of a righting moment in the example above. <strong>This corresponds to a ship having a low center of gravity.</strong>


   <Slideshow id = "pendulum">
        <Image alt = "Simple Pendulum" src = "/dyn/the_capsizing_ship/Simple_pendulum_1.jpg" width = 4></Image>

        <Image alt = "Simple Pendulum" src = "/dyn/the_capsizing_ship/Simple_pendulum_2.jpg" width = 4></Image>

    </Slideshow>

    <DisplayEquation background = True title = "Characteristic equation of a pendulum." id = "eqn-pend"
    equation = "\\begin{aligned}   \\ddot \\theta  = - \\frac{g}{l} \ \\sin(\\theta)  \\end{aligned}">
      
    </DisplayEquation>
        
    For a simple pendulum, the rest, or vertical, position where the angular displacement at (<InlineEquation equation="\\theta=0" />) 
    is the position of marginally stable equilibrium. 
    Equilibrium is only marginally stable because an oscillatory system, like a simple pendulum, has a limited output range but 
     does not achieve steady state after an excitation. 
    At <InlineEquation equation="\\theta=0" />, its potential energy is lowest while the kinetic
    energy is maximized. 
    However, at the two extrema on either side of the rest position, 
    the <InlineEquation equation="\\theta" /> is maximum and the pendulum has the maximum potential energy. 
    This configuration induces a restoring torque (<InlineEquation equation="\\tau" />) that produces an <InlineEquation equation="\\alpha" />, 
    which is opposite to the direction of the angular displacement. The implication is that
    these extrema are unstable for the simple pendulum. 
   
    </SubSubSection>

    <SubSubSection title = "Inverted pendulum" id = "inverted"> 
    However, in the case of an inverted pendulum, there is no stable equilibrium position. <strong>This corresponds to a ship having a high center of gravity.</strong> 

    <Slideshow id = "inverted_pendulum">
        <Image alt = "Inverted Pendulum" src = "/dyn/the_capsizing_ship/Inverted_pendulum_1.jpg" width = 4></Image>

        <Image alt = "Inverted Pendulum" src = "/dyn/the_capsizing_ship/Inverted_pendulum_2.jpg" width = 4></Image>

    </Slideshow>


    For an inverted pendulum, the rest position with <InlineEquation equation="\\phi=0" /> is unstable since its potential energy is maximized. 
    This is an unstable system since the output due to an excitation is unbounded, unlike a simple pendulum. 
    When the pendulum is displaced by a value of <InlineEquation equation="\\phi" />, the torque induced is in the direction 
    of the angular displacement (i.e., <InlineEquation equation="\\alpha" /> and <InlineEquation equation="\\phi" /> have the same signs). 
    In the case of a ship, the high center of gravity means <strong>there is a high risk of capsizing.</strong>

</SubSubSection>
</Layout>

<!-- 
<SubSection title = "Additional information" id = "additional_info">

    <p>
        In its investigation of the MV Golden Ray capsizing incident, the NTSB conducted a stability
        analysis of the vessel by using different parameters for the weights of the ballast, bunkers, 
        liquid, and cargo. This allowed them to compare the loading conditions at the time of accident
        and those found in the loading manual for the ship by generating curves for the righting arm and
        the heel angle of the ship. 

    </p>
    <Image alt = "Righting arm curve 1" src = "/dyn/Righting_arm_curve1.png" id = "rarmc1" width = 7>

        <p class = "figureCaption">
            Righting arm curves of the Golden Ray 
            during the accident voyage compared with benchmark righting arm curves 
            chosen from the vessel's loading manual.
            Image source: Coast Guard. 
        </p>
    
    </Image>

    <p>
        As can be seen from the <a 
        href="#rarmc1"> graph</a>, the length of the righting arm increases with the angle of heel to a maximum point. 
        In theory, the righting arm decreases after this point, reaching zero at a very large angle of heel. 
        A reduction in the size of the righting 
        arm usually means a decrease in stability. The area under the righting arm curve represents the energy available to 
        the ship to right itself, and in general, the more area under the curve, the larger the capsizing moments the vessel can resist. 
        The angle where the righting arm crosses zero denotes where a vessel's stability changes from positive 
        righting moments to negative capsizing moments. Vessels are often termed “stable” when they have 
        enough positive stability to return to an upright position in the conditions encountered as loaded, 
        and “unstable” when they do not, and capsize. 
    </p>
    <Image alt = "Righting arm curve 2" src = "/dyn/Righting_arm_curve2.png" id = "rarmc2" width = 7>

        <p class = "figureCaption">
            Theoretical righting arm curves (dashed green lines) generated from the 
            analysis of the Golden Ray during the accident voyage and 
            previous two voyages with an additional 1,492 MT of ballast. 
            The righting arm curves (solid green lines) for the vessel in the representative loading condition 
            for each voyage are shown for comparison. 
            Image source: Coast Guard. 
        </p>

    </Image>

    From the above graph, we can estimate the stability of the vessel by measuring the slope of the righting arm curves,
    which dictates whether the ship will be stable or unstable at small angles of heel. The slight
    differences between the experimental and the theoretical findings seen through these graphs should 
    make you appreciate that center of mass is not just an abstract topic but a highly intricate notion
    in practical scenarios! The correlation between center of mass and stability is highly critical to 
    study of dynamic systems that are subject to external loading coditions and entails 
    precise calculations and services of experts in risk analysis. 

</SubSection>

#Extra callout card for inverted pendulum 

        <CalloutCard>

            <p>
                In practice, there is a way to stabilize an inverted pendulum at the top 
                by oscillating it at a very high frequency that generates a regenerative oscillation
                about the same point, but with higher amplitude and lower frequency. This is outside the 
                scope of the presented content, but you can learn more about these topics is classes 
                like ME 340 and TAM 412! 
            </p>
        </CalloutCard>
-->
