---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Contact and Rolling">
<Section title="Contact and Rolling"></Section>

<SubSection title="Rigid bodies in contact">
    <BlueText>Complete in "Rolling motion"</BlueText>
</SubSection>

<SubSection title="Rolling motion">
    <BlueText>Complete in "Rolling motion"</BlueText>
</SubSection>

<SubSection title="Rolling on curved surfaces">
    <BlueText>Complete in "Rolling motion"</BlueText>
</SubSection>

<SubSection title="Applications"></SubSection>
<SubSubSection title="Bearings">
    <RedText>This topic is in L27, slides 13-14, include information in Fig  \ref fig:AppBearings . Pictures are from this book  <a href="https://i-share-uiu.primo.exlibrisgroup.com/permalink/01CARLI_UIU/gpjosq/alma99955068260305899">https://i-share-uiu.primo.exlibrisgroup.com/permalink/01CARLI_UIU/gpjosq/alma99955068260305899</a></RedText>. Application for "Rolling on curved surfaces".

    <Image src="/Dynamics/ContactRollingFigs/AppBearings.png" width="5"></Image>
</SubSubSection>
</Layout>