---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import Center from "../../components/Center.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import Warning from "../../components/Warning.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import Example from "../../components/Example.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---

<Layout title = "Knee joint" description = "Learn how rigid body kinematics applies to knee joints.">






  <div hidden>
    <PrairieDrawCanvas id = "rkg-fw-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-fr-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-xp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-xc-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkg-fd-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-cm-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcl-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcp-cs" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcf-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xcf-s" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xlc-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-sa" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-s1" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "rkc-xtp-s2" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avs-ft-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avs-fr-c" width = "1" height = "1"/>
  </div>

<Section title="Knee joint"  id="knee_joint">
    <p>
      The human knee joint is a type of biological <a
      href="http://en.wikipedia.org/wiki/Hinge_joint">hinge</a>,
      which allows movement in only one primary angle. The knee
      connects the <a
      href="http://en.wikipedia.org/wiki/Femur">femur</a> (the
      upper leg bone) to the <a
      href="http://en.wikipedia.org/wiki/Tibia">tibia</a> (the
      larger of the two lower leg bones). These two bones sit next
      to each other and are free to rotate about a single axis. A
      mechanism is needed to keep the two legs bones attached to
      each other, while still allowing rotation. In the case of
      the human knee this is achieved with a four-bar linkage
      consisting of the two bones together with the <a
      href="http://en.wikipedia.org/wiki/Anterior_cruciate_ligament">anterior
      cruciate ligament (ACL)</a> and <a
      href="http://en.wikipedia.org/wiki/Posterior_cruciate_ligament">posterior
      cruciate ligament (PCL)</a>, as shown below.
    </p>

    <PrairieDrawCanvas id="aml-fk-c" width="600" height="596" class="figureImage">
      <p class="controls">
        <button class="option-toggle:aml-fk-c:showLinkage" onclick="aml_fk_c.toggleOption('showLinkage')">show linkage</button>
        <button class="anim-toggle:aml-fk-c" onclick="aml_fk_c.toggleAnim()">animation</button>
        <button class="reset-time:aml-fk-c" onclick="aml_fk_c.resetTime()">reset</button>
      </p>
      <p class="figureCaption">
        <i> An <a href="http://en.wikipedia.org/wiki/Magnetic_resonance_imaging">MRI</a> image of a <a
        href="http://en.wikipedia.org/wiki/Sagittal_plane">sagittal
        section</a> through a human <a
        href="http://en.wikipedia.org/wiki/Knee">knee joint</a>,
        showing the <a
        href="http://en.wikipedia.org/wiki/Anterior_cruciate_ligament">ACL</a>
        and <a
        href="http://en.wikipedia.org/wiki/Posterior_cruciate_ligament">PCL</a>
        ligaments.  Image credit: <a
        href="http://en.wikipedia.org/wiki/File:MRT_ACL_PCL_01.jpg">Wikimedia
        Commons image</a> (<a
        href="http://creativecommons.org/licenses/by-sa/2.0/deed.en">CC
        BY-SA 2.0</a>). </i>
      </p>
      <p>
        The four-bar model of the knee is only approximate, and
        neglects many important mechanical features. In particular,
        the ACL and PCL are not rigid rods, and can only provide
        tensile forces (they act as mechanical ropes). The
        compressive force is actually provided by the <a
        href="http://en.wikipedia.org/wiki/Meniscus_(anatomy)">meniscus</a>
        that separates the femur and tibia bones. In the simple
        four-bar knee model shown here, the rigid rods include the
        effects of both the ligaments and the meniscus.
      </p>
    </PrairieDrawCanvas>

    <div class="references">
      <h5 style="text-align:center;">References</h3>
      <ul class="references">
        <li>
          A. B. Zavatsky and J. J. O'Connor.
          A model of human knee ligaments in the sagittal plane: Part 1: Response to passive flexion.
          <i>Proceedings of the Institution of Mechanical Engineers, Part H: Journal of Engineering in Medicine</i>,
          206(3):125–134, 1992.
          DOI: <a href="http://dx.doi.org/10.1243/PIME_PROC_1992_206_280_02">10.1243/PIME_PROC_1992_206_280_02</a>
        </li>
      </ul>
    </div>
    <CalloutContainer slot="cards">
      <CalloutCard>
        <p>
          No joints in the human body have the rotating bone fully
          constrained by the enclosing socket bone. Instead, like
          the knee, they have a partial socket or cylinder and the
          rotating bone is held in place by ligaments. This type of
          arrangement is typical for most animals, with one rare
          exception being the <a
          href="http://en.wikipedia.org/wiki/European_badger">European
          Badger (Meles Meles)</a>. In older badgers, the jaw
          rotates on an entirely enclosed pivot, as shown
          below. This means that the badger cannot waggle its jaw
          side-to-side as humans can, and also means that the badger
          jaw cannot be dislocated or disconnected without breaking
          the bone.
        </p>
        <PrairieDrawCanvas id="aml-fs-c" width="250" height="155" class="figureImage">
          <p class="controls">
            <button class="option-toggle:aml-fs-c:showPivot" onclick="aml_fs_c.toggleOption('showPivot')">show jaw pivot</button>
          </p>
          <p class="caption">
            Image credit: <a
            href="http://commons.wikimedia.org/wiki/File:Blaireau.jpg">Wikimedia
            Commons</a> (<a
            href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">CC
            BY-SA 3.0</a>) (<a href="/dyn/rigid_body_kinematics/aml_Blaireau.jpg">full-sized image</a>).
          </p>
        </PrairieDrawCanvas>
      </CalloutCard>
      <CalloutCard title = "Reference material">
      <p>
        This application uses <a href = "/dyn/rigid_body_kinematics#rigid_bodies">rigid bodies.</a>
      </p>
    </CalloutCard>
    </CalloutContainer>
      
</Section>

  <div hidden>
    <PrairieDrawCanvas id = "aml-fw-c" width = "1" height = "1"/>
  </div>

<script src="/dyn/rigid_body_kinematics/canvases.js" is:inline></script>
</Layout>