---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
---
<Layout title="Questions to ask Instructor">
<Section title="Questions to ask Instructor">
<Itemize>
    <Item> Overall organization in categories and order of topic appearance. I followed lecture notes, which differed a little bit from current reference pages.</Item>
    <Item> Application sections. The ones in red need include the overall idea but I need an instructor to make the decision on what information, pictures, equations should be included in the reference page. Also:

        <Enumerate>
                <Item>In the reference page, under Application, there is a full reference page named "Four-Bar Linkages". I am not sure to which topic each subtitle should be linked. I only referenced "Example: Knee joint (constrained motion)", "Example: Suspensions with Watt's linkage (constrained motion)" to "rigid body kinematics - Constrained motion".
                </Item>
                <Item>In the reference page, under Application, there is a full reference page named "Projectiles with air resistance". I am not sure to which topic each subtitle should be linked. As for now, they are under "Applications" of "Particle Kinetics" as "Projectiles with air resistance".
                </Item>
        </Enumerate>
</Item>  
</Itemize>

</Section>

</Layout>