---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Rigid Body Kinematics">
<Section title="Rigid Body Kinematics"></Section>

<SubSection title="Rigid bodies">
    <BlueText>Complete in "Rigid bodies"</BlueText>
</SubSection>

<SubSection title="Rotating rigid bodies">
    <BlueText>Complete in "Rigid bodies"</BlueText>
</SubSection>

<SubSection title="Rigid body velocity">
    <BlueText>Complete in "Rigid bodies"</BlueText>
</SubSection>

<SubSection title="Constrained motion">
    <BlueText>Complete in "Constraints and constrained motions"</BlueText>
</SubSection>

<SubSection title="Rigid body acceleration">
    <BlueText>Complete in "Rigid bodies"</BlueText>
</SubSection>

<SubSection title="Gears">
    <RedText>Include the information in Fig  \ref fig:GearsRecap as a broad introduction to the topic</RedText>

    <Image src="/Dynamics/RigidBodyKinematics/GearsRecap.png" width="7"></Image>
</SubSection>

<SubSubSection title="Standard sign convention">
    <RedText>Add information shown in Fig  \ref fig:gears</RedText>
    
    <Image src="/Dynamics/RigidBodyKinematics/Gears.png" width="7"></Image>

    <RedText>Include animation of examples as the ones in Fig  \ref fig:GearsExamples</RedText>
    <Image src="/Dynamics/RigidBodyKinematics/GearsExamples.png" width="7"></Image>
</SubSubSection>

<SubSubSection title="Accelerations in contact (no slip)">
    <RedText>Add the information included in Fig  \ref fig:GearsAcceleration</RedText>

    <Image src="/Dynamics/RigidBodyKinematics/GearsAcceContact.png" width="7"></Image>
</SubSubSection>

<SubSection title="Applications"></SubSection>

<SubSubSection title="Train passenger comfort">
    <RedText>This topics need to be clearly organized and expanded. Refer to Fig  \ref fig:AppTrainPassenger</RedText>. Application for "Rigid body acceleration".

    <Image src="/Dynamics/RigidBodyKinematics/AppTrainPassenger.png" width="8"></Image>
</SubSubSection>

<SubSubSection title="Steering geometry">
    <BlueText>Complete in "Steering geometry".</BlueText> This refers to "Rigid Bodies".
</SubSubSection>

<SubSubSection title="Knee Joint">
    <BlueText>Complete in "Four-Bar Linkages" under the subtitle "Example: Knee joint (constrained motion)".</BlueText> This refers to "Constrained motion".
</SubSubSection>

<SubSubSection title="Suspensions with Watt's linkage">
    <BlueText>Complete in "Four-Bar Linkages" under the subtitle "Example: Suspensions with Watt's linkage (constrained motion)".</BlueText> This refers to "Constrained motion".
</SubSubSection>

<SubSubSection title="Aerobie Orbiter">
    <RedText>This topic was mentioned in lecture but it was not expanded.</RedText> Application for "Rigid body rotation".
</SubSubSection>
</Layout>