---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Vectors">
<Section title="Vectors"></Section>

<SubSection title="Notation">
    <BlueText>Complete reference page "vector and bases"</BlueText>
</SubSection>

<SubSection title="Cartesian coordinate system">
    <BlueText>Complete in reference page "position and coordinates"</BlueText>
</SubSection>

<SubSection title="Polar coordinate system">
    <BlueText>Complete in reference page "position and coordinates"</BlueText>
</SubSection>

<SubSection title="Units">
    <BlueText>Complete in reference page "position and coordinates"</BlueText>
</SubSection>

<SubSection title="Unit vectors">
    <BlueText>Complete in reference page "vector and bases"</BlueText>
</SubSection>

<SubSection title="Vectors bases">
    <BlueText>Complete in reference page "vector and bases"</BlueText>
</SubSection>

<SubSection title="Changing bases">
    <BlueText>Complete in reference page "vector and bases"</BlueText>
</SubSection>

<SubSection title="Projection and complementary projection">
    <BlueText>Complete in reference page "vector and bases"</BlueText>
</SubSection>

<SubSection title="Change in length and direction">
    <BlueText>Complete in reference page "Vector calculus"</BlueText>
</SubSection>

<SubSection title="Spherical Coordinates">
    <BlueText>Complete in reference page "Spherical coordinates"</BlueText>
</SubSection>

<SubSection title="Applications"></SubSection>

<SubSubSection title="Spin lunch">
    <RedText>This was mentioned in lecture but no actual example was given. It would be a good idea to include it.</RedText> Application for "Polar coordinates".
</SubSubSection>

<SubSubSection title="Haystack antenna">
    <RedText>This is mentioned in L09-Notes, slide 2. This topic needs to be formally expanded. Refer to Fig  \ref fig:AppAnetnna  </RedText>. Application for "Change of basis".

    <Image src="/Dynamics/VectorsFigs/AppAntenna.png" width="5"></Image>
</SubSubSection>

<SubSubSection title="Shortest flight paths">
    <BlueText>Complete in reference page "Shortest flight paths"</BlueText>. Application for Spherical coordinates.
</SubSubSection>
</Layout>