---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Vector Calculus">
<Section title="Vector Calculus"></Section>

<SubSection title="Dot product">
    <RedText>*This topic appears in 2 reference pages*</RedText>
    <BlueText>Complete in reference page "vector and bases"</BlueText>
    <BlueText>Explained in reference page "vector identities"</BlueText>
</SubSection>

<SubSection title="Cross product">
    <RedText>*This topic appears in 2 reference pages*</RedText>
    <BlueText>Complete in reference page "vector and bases"</BlueText>
    <BlueText>Explained in reference page "vector identities"</BlueText>
</SubSection>

<SubSection title="Derivatives"></SubSection>

<SubSubSection title="Cartesian">
    <BlueText>Complete in reference page "vector calculus"</BlueText>
    <RedText>The example in Fig \ref Fig:CartesianDerivatives  could be added:</RedText>

    <Image src="/Dynamics/VectorCalculusFigures/Cartesian Derivatives.png" width="7"> Taken from L03-Notes, slide 6.</Image>
</SubSubSection>
    
<SubSubSection title="Non-Cartesian: Polar basis">
    <RedText>An example like in Fig \ref Fig:Non-CartesianPolarBasis  could be added in "vector and bases"</RedText> 

    <Image src="/Dynamics/VectorCalculusFigures/Non-Cartesian Polar Basis.png" width="7"> Taken from L03-Notes, slide 7.</Image>
</SubSubSection>

<SubSubSection title="Graphical estimation">
    <RedText>The information in Fig  \ref Fig:GraphicalEstimation  could be included as a new section in "vector and bases"</RedText> 

    <Image src="/Dynamics/VectorCalculusFigures/Graphical Estimation of Derivatives.png" width="7"> Taken from L03-Notes, slide 8.</Image>
</SubSubSection>

<SubSection title="Chain rule"></SubSection>

<SubSubSection title="Scalars">
    <BlueText>Complete in "Vector Calculus"</BlueText>
</SubSubSection>

<SubSubSection title="Second derivative">
    <BlueText>Complete in "vector Calculus"</BlueText>
</SubSubSection>
    
<SubSection title="Integration">
    <RedText>Include summary of both Polar and Cartesian integration as in Fig  \ref fig:SummaryVecInt</RedText>

    <Image src="/Dynamics/VectorCalculusFigures/SummaryVectorIntegration.png" width="7"></Image>
</SubSection>

<SubSubSection title="Cartesian basis">
    <BlueText>Complete in "Vector calculus"</BlueText>
</SubSubSection>

<SubSubSection title="Polar basis">
    <RedText>Add the information in Fig  \ref fig:PolarIntegration</RedText>
    
    <Image src="/Dynamics/VectorCalculusFigures/PolarIntegration.png" width="7"></Image>
</SubSubSection>

<SubSection title="Solving equations">
    <RedText>Include step by step on how to solve vector equations as shown in Fig  \ref fig:SolvingEqnsSteps</RedText>

    <Image src="/Dynamics/VectorCalculusFigures/SolvingEqnsSteps.png" width="7"></Image>


    Include examples as shown in Figs \ref fig:SolvingEqns, \ref fig:SolvingEqns2 

    <Image src="/Dynamics/VectorCalculusFigures/SolvingEqns.png" width="7"></Image>

    <Image src="/Dynamics/VectorCalculusFigures/SolvingEqns2.png" width="7"></Image>
</SubSection>
</Layout>