---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Work and Energy">
<Section title="Work and Energy"></Section>

<SubSection title="Energy">
    <BlueText>Mostly complete in "Energy and work".</BlueText>

    <RedText>Add information as shown in Fig  \ref fig:Energy . Equations of potential gravitational and elastic are already included in reference page</RedText>
    <Image src="/Dynamics/WorkEnergyFigs/Energy.png" width="7"></Image>
</SubSection>

<SubSection title="Work"></SubSection>

<SubSubSection title="Work-Energy">
    <RedText>Include equation and description shown in Fig  \ref fig:WorkEnergy</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/WorkEnergy.png" width="7"></Image>
</SubSubSection>

<SubSubSection title="Work done by a Force">
    <BlueText>Complete in "Energy and work"</BlueText>

    <RedText>Include example shown in Fig  \ref fig:WorkExample</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/WorkExample.png" width="7"></Image>
</SubSubSection>

<SubSubSection title="Conservative vs Non-conservative forces">
    <BlueText>Complete in "Energy and work"</BlueText>
</SubSubSection>

    <SubSubSection title="Work done by Friction">
    <RedText>Add information and example shown in Fig  \ref fig:WorkFriction</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/WorkFriction.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Work done by a Moment">
    <RedText>Add information and example shown in Fig  \ref fig:WorkMoment</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/WorkMoment.png" width="7"></Image>
</SubSubSection>

<SubSection title="Friction"></SubSection>
    
<SubSubSection title="Stick, Transition, Slip">
    <RedText>Add information shown in Fig  \ref fig:Friction</RedText>
    
    <Image src="/Dynamics/WorkEnergyFigs/Friction.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Solution procedure">
    <RedText>Add information shown in Fig  \ref fig:FrictionSolutionProcedure</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/FrictionSolutionProcedure.png" width="7"></Image>
</SubSubSection>

<SubSection title="Momentum">
    <RedText>Add short summary like in Fig  \ref fig:Momentum  at the end of the section</RedText>

    <Image src="/Dynamics/WorkEnergyFigs/Momentum.png" width="7"></Image>
</SubSection>
    
<SubSubSection title="of a point mass">
    <BlueText>Complete in "Momentum, impulse and collisions"</BlueText>
</SubSubSection>

<SubSubSection title="of a rigid body">
    <BlueText>Complete in "Momentum, impulse and collisions"</BlueText>
</SubSubSection>

<SubSubSection title="of a system of rigid bodies">
    <BlueText>Complete in "Momentum, impulse and collisions"</BlueText>
</SubSubSection>

<SubSection title="Impulse">
    <BlueText>Complete in "Momentum, impulse and collisions"</BlueText>
</SubSection>

<SubSection title="Applications"></SubSection>

<SubSubSection title="Wind Turbine">
    <RedText>This is included in L29-Notes, slides 11-12. Include the information in Fig  \ref fig:AppWindTurbine .</RedText> Application for "Energy".
    
    <Image src="/Dynamics/WorkEnergyFigs/AppWindTurbine.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Race Cars">
    <RedText>This is included in L33-Notes, slides 11-12. Include the information in Fig  \ref fig:AppRaceCars .</RedText> Application for "Friction".

    <Image src="/Dynamics/WorkEnergyFigs/AppRaceCars.png" width="7"></Image>
</SubSubSection>
</Layout>