---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
---
<Layout title="BlankTopic">
<Section>Topic 2</Section>

<SubSection>Component 1</SubSection>

<SubSection>Component 2</SubSection>
</Layout>