---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import RedText from "../../components/RedText.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
---
<Layout title="Frames and Machines">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#assumptions'>Frames</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#two_force_member'>Machines</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#zero_force_member'>Frame and Machine Analysis</a></li>
      </ul>
      </div>

<p>
Frames and machines are systems that contain at least one non two force member. This means that at least one member in a frame or machine has at least 3 loads applied to it. 

Unlike trusses, frames and machines are not necessarily only loaded at the joints, and are not necessarily compsed of long, slender members. 

Multi-force members in both frames and machines have the potential to have not only axial internal loads, but also shear internal forces and internal bending moments. 

</p>

<Section title="Frames" id="frames">

<p>Frames are systems with at least one multi-force member that are generally designed to be stationary. Some examples of frames could be a children's playground or even a table. 

</p>
</Section>

<Section title="Machines" id="machines">

<p>Machines are systems with at least one multi-force member that have the potential to move. For example, an excavator is a machine.  

</p>
</Section>

<Section title="Frame and Machine Analysis" id="framemachineanalysis">

<p>
Because frames and machines carry not only axial loads but also shear loads and bending moments, we can't use the method of joints or the method of sections to get internal forces. 

Instead, we need to "break apart" the pieces of the frame or machine and draw free body diagrams of each piece individually. 

Frame and machine analysis involves the following steps: 
<Enumerate>
	<Item> Identify any two-force members and apply the two force member assumptions (see the Truss reference pages for more details)
    </Item>
	<Item> Identify any multi force members and make free body diagrams for each multip force member. Remember that the same forces in two different free body diagrams will be equal and opposite!
    </Item>
	<Item> Use equations of equilibrium to solve for the unknown forces in the free body diagrams. 
    </Item>
</Enumerate>

</p>
</Section>

</Section>

<Section title="Example: Machine" id="examplemachine">
<p>

This example is from <em>Engineering Statics</em> by Daniel Baker and William Haynes. 

In this question, we want to know what the cutting force is at A and B given an applied loaf F=60N. 

<Image src='/Statics/FramesMachinesFigures/Machine_Pliers.jpg' width='4'></Image>

<Enumerate>
	<Item> Through examination, we first notice that the DE and AB are two force members, so the forces on those two members are equal and opposite and pass through the points AB and DE. 
    	</Item> 
	<Item> The multi force members that we will examine are members GE and ACD. 
    	</Item> 
</Enumerate>

Let's start with member GE: 

<Image src='/Statics/FramesMachinesFigures/FBD_GE.jpg' width='5'></Image>

Taking the sum of force in the x and y direction and the sum of moments about G, we can solve for F<sub>DE</sub>, which is -362.038 N. 

We can then draw a FBD for member ACD: 

Note that the force DE, which was in the FBD for member GE, is facing the opposite direction in this FBD. 

<Image src='/Statics/FramesMachinesFigures/FBD_ACD.jpg' width='5'></Image>

Writing the sum of moments about point C allows us to solve for the force at A, which is 268.692 N. 

We can also calculate the mechanical advantage of this machine by dividing the cutting force by the applied force of 60 N. In this case, the maching gives a mechanical advantage of 4.478. 

</p>
</Section>

</Layout>

<script src="/sta/framesandmachines/canvases.js" is:inline></script>
