---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Friction">
<Section title="Friction">

Friction is a force that resists the movement of two contacting surfaces sliding relative to each other. Frictional forces act tangential to the surface at the point of contact and act in opposition to the possible or existing motion between the surfaces. 

<BlueText>Insert content from the TAM 212 page Friction and Damping - Introductory equation box</BlueText>

</Section>

<SubSection title="<RedText>Static Friction</RedText>">

Examples of coefficients of static friction: 


<Image src='/mechref/Statics/FrictionFigures/ExampleCoeff.png' width='3 '><BlueText>Taken from TAM 210 Lecture 26</BlueText></Image>

<BlueText>This might be a good place to add practical examples - maybe how engine brakes use friction? And another thing about how cartilage in your joints has very little friction (like ice on ice!) which allows for joint movement.</BlueText>

In TAM 210/211, we will focus on dry friction. Dry friction occurs between two surfaces with <strong>no</strong> lubricating fluid between them. 

Static friction is the friction between two bodies when there is no movement between them. 
</SubSection>

<SubSection title="Tipping vs. Slipping">

<Image src='/mechref/Statics/FrictionFigures/TipSlip.png' width='5'><BlueText>Taken from TAM 210 Lecture 27</BlueText></Image>

<!-- From Lecture 27 -->
</SubSection>

</Layout>