---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import Example from "../../components/Example.astro"
---

<style>
    tbody.center-text > tr > td{
        text-align: center;
    }
</style>
<Layout title="Friction">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#static_friction'>Static Friction</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#tip_slip'>Tipping vs. Slipping</a></li>
      </ul>
      </div>

<Section title="Friction" id="friction">

<p>
Friction is a force that resists the movement of two contacting surfaces sliding relative to each other. Frictional forces act tangential to the surface at the point of contact and act in opposition to the possible or existing motion between the surfaces. 
</p>


<DisplayEquation equation="F \\le  \\mu F" background="True"  title="Limit on friction force magnitude." />

<p>
	Variables <b> <InlineEquation equation=" F "/> </b> and <b> <InlineEquation equation=" N "/> </b> are the magnitude of the friction for <b> <InlineEquation equation=" \\vec{F} "/> </b> and the normal force <b> <InlineEquation equation=" \\vec{N} "/> </b>, and <b> <InlineEquation equation=" \\mu "/> </b> is the coefficient of friction.
</p>
</Section>

<SubSection title="Static Friction" id="static_friction">

In TAM 210/211, we will focus on dry friction. Dry friction occurs between two surfaces with <strong>no</strong> lubricating fluid between them. 

Static friction is the friction between two bodies when there is no movement between them.

Examples of coefficients of static friction: 


<DisplayTable id="friction_table" class_="table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">System</th>
            <th class="text-center">Static friction \(\mu_s\)</th>
        </tr>
    </thead>
    <tbody class="center-text">
        <tr>
            <td>Rubber on dry concrete</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td>Wood on wood</td>
            <td>0.5</td>
        </tr>
        <tr>
            <td>Steel on steel</td>
            <td>0.6</td>
        </tr>
        <tr>
            <td>Shoes on wood</td>
            <td>0.9</td>
        </tr>
        <tr>
            <td>Shoes on ice</td>
            <td>0.1</td>
        </tr>
    </tbody>
</DisplayTable>



<!--This might be a good place to add practical examples - maybe how engine brakes use friction? And another thing about how cartilage in your joints has very little friction (like ice on ice!) which allows for joint movement.-->

    <CalloutContainer slot="cards">
        <CalloutCard title="Did you know?">
            <p>
                Articular cartilage lines the end of your bones at joints, where two bones come together in your body. It acts as a smooth surface that allows your bones to slide past each other when your body is moving. 
              </p>
		
              <p>
                Articular cartilage is very slippery and has a <i>very</> small coefficient of friction: <a href="https://www.annualreviews.org/content/journals/10.1146/annurev-bioeng-081514-123305">as low as 0.001</a>! This is similar to the coefficient of friction between two pieces of ice! 
              </p>
        </CalloutCard>
    </CalloutContainer>

</SubSection>

<SubSection title="Tipping vs. Slipping" id="tip_slip">

Consider a box of length <i>l</i> that is sitting on a rough surface with an applied load <i>P</i> on the right side. 

As <i>P</i> increases, there are two possible scenarios: either the box will "slip" and start sliding along the surface, or the box will tip onto the right corner.  

<Image src='/Statics/FrictionFigures/TipSlip.jpg' width='5'>tipping vs. slipping</Image>

<p>
If the box experiences <b>slipping</b>, the normal force will act at a location can be written as  <DisplayEquation equation="\N = \\mu P" />. You can solve for the force <i>P</i> required for the box to slip. 

If the box experiences <b>tipping</b>, the normal force will act at the bottom right corner of the box, and the couple from the frictional force and <i>N</i> will create a moment causing the box to tip. 

To determine which of these scenarios will occur, you should write the equations of equilibrium for each case and solve for the force <i>P</i> required to cause either slipping or tipping. Whichever condition has the smallest force <i>P</i> will be the condition that occurs. 
</p>

<p>
<em>Note:</em> See below for an explanation of why the normal force does not act at the center of mass of the box.
</p>
<!-- From Lecture 27 -->

     <Example title="Location of normal force">

	<Image src='/Statics/FrictionFigures/NLocation.jpg' width='5'></Image>

        <p>
          If the normal force <i>N</i> acted at the middle of the box (at the center of mass), we would write the three equations of equilibrium as follows: 
	</p>
          <DisplayEquation equation="\\sum F_x = P - F_f = 0" />
	  <DisplayEquation equation="\\sum F_y = N - W = 0" />
	
	<p>
          So far, so good! However, we run into a problem when we write the sum of moments equation:  
	</p>

	  <DisplayEquation equation="\\\sum M_O = -Py = 0" />

	<p>
	The sum of moments equation about point O results in an expression that is not possible: we know that <i>P</> cannot be zero, so there must be some sort of moment about the center of the box from the normal force acting offset from the center of mass of the box. 

        </p>

      </Example>


</SubSection>

</Layout>
