---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import SubSubSection from "../../components/SubSubSection.astro"
---
<Layout title="Reaction Forces">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#types_of_connections'>Types of Connections</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#redundant_constraints'>Redundant Constraints</a></li>
      </ul>
      </div>
<Section title="Reaction Forces" id="reaction_forces">

Because of Newton's Third Law we know that every action has an equal and opposite reaction. We can solve for these reaction forces to understand the loading of a structure.
  
</Section>
<SubSection title="Types of Connections" id="types_of_connections">

Different supports and different connections have different types of reaction forces depending on what they are constraining. For example, a pin connection restricts movement in the x-and y-directions but doesn't restrict rotation. This means that each pin connection has two reaction forces: one in the x-direciton, and one in the y-direction corresponding to the degrees of freedom that are fixed. 

A roller support only constrains movement in the y-direction, and thus only has one reaction force (oriented in the y-direction). 

<Image src='/Statics/ReactionForcesFigures/SingleForceRxns.PNG' width='8'>Constraints that produce one unknown reaction force.</Image>

<Image src='/Statics/ReactionForcesFigures/MultiForceRxns.PNG' width='8'>Constraints that produce multiple unknown reaction forces or moments.</Image>

<!-- Should we make a table for here? Some good examples of rigid constraints in real life in lecture 15. -- >

<!-- From lecture 13 -->

<!-- L13, Slide 3 had some good examples of support reactions if we want to make a pop up on the side eventually.-->

</SubSection>

<SubSection title="System Classifications" id="system_classifications">

</SubSection>

<SubSubSection title="Redundant Constraints" id="redundant_constraints">

If a body has more supports than it needs to hold it in equilibrium, it is overly constrained. This will result in more unknown reaction forces than equations we can write, and the problem will not be solvable using statics alone. This type of system is a "statically indeterminate" system. 

In a 2D system, we can write three equilibrium equations (forces in the x and y directions and moments about a point), which means we can solve system with up to three unknowns. 

If a 2D system has 3 or less unknown reaction forces, it is considered determinate. If it has more than three unknown reaction forces, it is considered indeterminate.  

<Image src='/Statics/ReactionForcesFigures/DeterminateIndeterminate.jpg' width='5'>Determinate system with 3 unknowns (left) and indeterminate system with 4 unknowns (right).</Image>

</SubSubSection>

<SubSubSection title="Proper and Improper Constraints" id="proper_constraints">

<SubSubSection title="Stability and Instability" id="stability">

If a system is stable in statics, it means that it cannot rotate or translate in any direction under any loading conditions.

There are three ways we can analyze a 2D system to determine if it is stable or unstable: 

<Enumerate>
	<Item>If there are less than three reaction forces, the system is unstable and considered "underconstrained". </Item>
	<Item>If all of the reaction forces have lines of action that are parallel to each other, the system is unstable for translation. Nothing is preventing the system from moving perpendicular to those lines.</Item>
	<Item>If all of the reaction forces have lines of action that meet in a single point, the system is unstable for rotation at that point. Nothing is preventing the system from rotating about that point. </Item>
</Enumerate>

</SubSubSection>
</Layout>
