---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
---
<Layout title="Reaction Forces">
<Section title="Reaction Forces"></Section>

<SubSection title="Types of Connections">

<Image src='/mechref/Statics/ReactionForcesFigures/ReactionForces.jpg' width='5'><BlueText>Taken from Mariana Kersh's TAM 251 Lecture notes</BlueText></Image>

<BlueText>Should we make a table for here? Some good examples of rigid constraints in real life in lecture 15.</BlueText>

<!-- From lecture 13 -->

<BlueText>L13, Slide 3 had some good examples of support reactions if we want to make a pop up on the side eventually.</BlueText>

</SubSection>

<SubSection title="Redundant Constraints">

If a body has more supports than it needs to hold it in equilibrium, it is overly constrained. This will result in more unknown reaction forces than equations we can write, and the problem will not be solvable using statics alone. This type of system is a "statically indeterminate" system. 

%From lecture 15

</SubSection>
</Layout>