.theme-light{
    background-color: #dddddd;
    color: black;
}

.theme-dark{
    background-color: #2D3339;
    color: #adb5bd;
}

.theme-dark img{
    filter: brightness(0) invert(1);
}

.theme-light-text{
    color: black;
}

.theme-dark-text{
    color: #adb5bd;
}
