---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import OrangeText from "../../components/OrangeText.astro" 
import TealText from "../../components/TealText.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Thermodynamic devices">
<Section title="">Thermodynamic Devices</Section>
<SubSection title="">Nozzle</SubSection>
<p>A flow passage that uses changes in cross-sectional area to increase the velocity (at the expense of pressure) of a fluid in the</p>
<p>direction of flow. (narrows)</p>

<SubSection title="">Diffuser</SubSection>
<p>A flow passage that uses changes in cross-sectional area to decrease the velocity of a fluid and increase its pressure in the</p>
<p>direction of flow. (narrows)</p>

<SubSection title="">Turbine</SubSection>
<p>A device for generating power as a result of the flow of fluid through it. Flow forces a set of blades to rotate a shaft via</p>
<p>which work is output.</p>

<SubSection title="">Compressor</SubSection>
<p>The reverse of a turbine. Work is input into the device in order to change the state of a gas in such a way as to make it flow (by an increase in its pressure).</p>

<SubSection title="">Pump</SubSection>
<p>Similar to a compressor. Work is input into the device in order to change the state of a liquid in such a way as to make it flow (by an increase in its pressure or elevation).</p>

<SubSection title="">Throttling device</SubSection>
<p>A device used to reduce the pressure of a flow. Enthalpy of the working fluid can be approximated as constant.(narrows)</p>

<SubSection title="">Heat Exchanger</SubSection>
A device for transferring heat from one fluid substance to another.
</Layout>