---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import CalloutContainer from "../../components/CalloutContainer.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import SubSubSubSection from "../../components/SubSubSubSection.astro" 
import CalloutCard from "../../components/CalloutCard.astro" 
import OrangeText from "../../components/OrangeText.astro" 
import TealText from "../../components/TealText.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="sample">
<div slot="navtree">
<ul class="list-group list-group-flush py-0">
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#Section 1'>Section 1</a><ul>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsection 1.1'>subsection 1.1</a></li>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsection 1.2'>subsection 1.2</a><ul>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsubsection 1.2.1'>subsubsection 1.2.1</a></ul>
</li>
</ul>
</li>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#section 2'>section 2</a></li>
</ul>
</div>
<SubSection title="Section 1" id="Section 1">
<p>this should be a subsection</p>
    <CalloutCard title="Extra!">
        <u class="m-0">Callout Card</u>
<p>This should be made into a callout card. We may add additional funcitonality later.</p>
    </CalloutCard>
</SubSection>
<SubSubSection title="subsection 1.1" id="subsection 1.1">
<p>this should be a subsubsection</p>
</SubSubSection>
<SubSubSection title="subsection 1.2" id="subsection 1.2">
<p>this should be a subsubsection</p>
</SubSubSection>
<SubSubSubSection title="subsubsection 1.2.1" id="subsubsection 1.2.1">
<p>this should be a subsubsubsection</p>
</SubSubSubSection>
<SubSection title="section 2" id="section 2">
<p>This should be an inline equation  <InlineEquation equation="\\alpha \\sum_0^\\infty" />  Immediately followed by text.</p>
<p>This should be a displayed equation</p>
<DisplayEquation equation='\\alpha \\sum_0^\\infty' title="" />
<p>with text above and below</p>
<p>This should be a displayed equation</p>

<DisplayEquation equation="\\alpha \\sum_0^\\infty" title="" />

<p>with text above and below</p>
<p>This should be a displayed equation</p>

<DisplayEquation equation="\\alpha \\sum_0^\\infty" title="" />

<p>with text above and below</p>

</SubSection>
</Layout>