---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"
---

<Layout title="About">
<Section title="About">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/about/students"  class="text-body">For students</a></li>
        <li class="list-group-item"><a href="/about/instructors" class="text-body">For instructors</a></li>
        <li class="list-group-item">
            Setup your own version of MechRef...
            <ul class="list-group list-group-flush ">
                <li class="list-group-item"><a href="/about/instructions/mechse" class="text-body">...as a MechSE course</a></li>
                <li class="list-group-item"><a href="/about/instructions/illinois" class="text-body">... as a non-MechSE Illinois department</a></li>
                <li class="list-group-item pb-0"><a href="/about/instructions/external" class="text-body">... as another college</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="/about/team" class="text-body">The project and our team</a></li>
    </ul>
</Section>
</Layout>
