---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"

import "../../public/static/css/course_home_pages.css"
---

<style>
       h2 {
              font-weight: 700;
              letter-spacing: -0.7px;
       }
       .small-img {
              width: 120px;
              height: 120px;
       }
       .border-orange {
              border: 6px solid #C84113;
       }
       .border-blue {

               border: 6px solid #13294B;

       }

</style>


<Layout title="Design">

  <h1>
    <strong>Design</strong>
  </h1>

  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/ec1/p1?origin=coursemenu">Page 1</a></li>
      <li><a href="/ec1/p2?origin=coursemenu">Page 2</a></li>
      <li><a href="/ec1/p3?origin=coursemenu">Page 3</a></li>
    </ol>
  </section>
  <div style="height:40px"></div>

  <h2 class="site-title">Faculty Authors:</h2>
  <div style="height:10px"></div>

  <div>
      <ul class="list-unstyled d-flex flex-wrap text-center mb-1 ml-4">
              <li class="me-5 text-center">
                    <a href="https://grainger.illinois.edu/about/directory/faculty/lmclemon">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=18972&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Lee Clemon</h2>
              </li>
      </ul>
  </div>


  <div style="height:30px"></div>

  <div>
    <h2 style="font-size:25px" class="site-title"> Student Authors: </h2>
    <ul>
      <li> <h2 style="font-size:20px;" class="site-title">Melany Opolz</h2> </li>
    </ul>
  </div>

  <div style="height:20px"></div>
  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/dyn/sympy_tutorial">SymPy tutorial</a></li>
    </ul>
  </section>
</div>
</Layout>
