---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"

import "../../public/static/css/course_home_pages.css"
---

<Layout title="Dynamics">

  <h1>
    <strong>Dynamics</strong>
  </h1>

  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/dyn/vectors?origin=coursemenu">Vectors</a></li>
      <li><a href="/dyn/vector_calculus?origin=coursemenu">Vector calculus</a></li>
      <li><a href="/dyn/particle_kinematics?origin=coursemenu">Particle kinematics</a></li>
      <li><a href="/dyn/particle_kinetics?origin=coursemenu">Particle kinetics</a></li>
      <li><a href="/dyn/rigid_body_kinematics?origin=coursemenu">Rigid body kinematics</a></li>
      <li><a href="/dyn/rigid_body_kinetics?origin=coursemenu">Rigid body kinetics</a></li>
      <li><a href="/dyn/contact_and_rolling?origin=coursemenu">Contact and rolling</a></li>
      <li><a href="/dyn/work_and_energy?origin=coursemenu">Work and energy</a></li>
    </ol>    
  </section>
  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/dyn/SymPy%20Doc.html">SymPy tutorial</a></li>
    </ul>
  </section>
</div>
</Layout>