---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"

import "../../public/static/css/course_home_pages.css"
---

<style>
       h2 {
              font-weight: 700;
              letter-spacing: -0.7px;
       }
       .small-img {
              width: 120px;
              height: 120px;
       }
       .border-orange {
              border: 6px solid #C84113;
       }
       .border-blue {

               border: 6px solid #13294B;

       }

</style>


<Layout title="Dynamics">

  <h1>
    <strong>Dynamics</strong>
  </h1>

  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/dyn/vectors?origin=coursemenu">Vectors</a></li>
      <li><a href="/dyn/vector_calculus?origin=coursemenu">Vector calculus</a></li>
      <li><a href="/dyn/particle_kinematics?origin=coursemenu">Particle kinematics</a></li>
      <li><a href="/dyn/particle_kinetics?origin=coursemenu">Particle kinetics</a></li>
      <li><a href="/dyn/rigid_body_kinematics?origin=coursemenu">Rigid body kinematics</a></li>
      <li><a href="/dyn/rigid_body_kinetics?origin=coursemenu">Rigid body kinetics</a></li>
      <li><a href="/dyn/contact_and_rolling?origin=coursemenu">Contact and rolling</a></li>
      <li><a href="/dyn/work_and_energy?origin=coursemenu">Work and energy</a></li>
    </ol>    
  </section>
  <h2 class = "site-title">Applications</h2>
  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/dyn/shortest_flight_paths">Shortest flight paths</a></li>
      <li><a href="/dyn/celestial_velocities">Celestial velocities</a></li>
      <li><a href="/dyn/track_transition_curves">Track transition curves</a></li>
      <li><a href="/dyn/steering_geometry">Steering geometry</a></li>
      <li><a href="/dyn/four_bar_linkages">Four-bar linkages</a></li>
      <li><a href="/dyn/accelerating_and_braking">Accelerating and braking</a></li>
      <li><a href="/dyn/banked_turns">Banked turns</a></li>
    </ol>    
  </section>
  <div style="height:40px"></div>

  <h2 class="site-title">Faculty Authors:</h2>
  <div style="height:10px"></div>

  <div>
      <ul class="list-unstyled d-flex flex-wrap text-center mb-1 ml-4">
              <li class="me-5 text-center">
                    <a href="https://grainger.illinois.edu/about/directory/faculty/mwest">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=16813&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Matt West</h2>
              </li>
      </ul>
  </div>


  <div style="height:30px"></div>

  <div>
    <h2 style="font-size:25px" class="site-title"> Student Authors: </h2>
    <ul>
      <li> <h2 style="font-size:20px;" class="site-title">Melany Opolz</h2> </li>
    </ul>
  </div>

  <div style="height:20px"></div>
  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/dyn/sympy_tutorial">SymPy tutorial</a></li>
    </ul>
  </section>
</div>
</Layout>