---
import Layout from '../layouts/BlankLayout.astro';
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import CalloutContainer from '../components/CalloutContainer.astro';
import CalloutCard from '../components/CalloutCard.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
---

<Layout title="Mechanics Reference">

<Row>
    <Col values="12 md-7">
        <Image src='/MainFig.png' class_=""></Image>
    </Col>
    <Col values="12 md-5">
        <p>Welcome to the reference pages for some of the courses taught in Mechanical Science and Engineering at the University of Illinois at Urbana-Champaign.</p>

        <p>You can navigate directly to a course listed above or learn more about the reference pages including information for students and instructors by clicking on the about page to the right of the top menu bar.</p>
    </Col>
</Row>

    
</Layout>
