---

import Layout from "../layouts/CourseMenuLayout.astro"
import "../../public/static/css/course_home_pages.css"
---

<Layout title="Mechanism Design">
    <!-- Change the above and below to your couse name-->



  <h1>
    <strong>Mechanism Design</strong>
  </h1>
  <section class="mt-sm-4 mt-2">
    <ol>
      <!-- <li><a href="/md/Planar_Mechanisms?origin=coursemenu">Planar Mechanisms</a></li>-->
      <!--<li><a href="/md/Gears?origin=coursemenu">Gears</a></li>-->
      <li><a href="/md/Graphical_Linkage_Synthesis?origin=coursemenu">Graphical Linkage Synthesis</a></li>
      <li><a href="/md/Instant_Centers?origin=coursemenu">Instant Centers</a></li>
      <!--<li><a href="/md/Cams?origin=coursemenu">Cams</a></li>-->
      <!--<li><a href="/md/Position_Velocity_Acceleration?origin=coursemenu">Position Velocity Acceleration</a></li>-->
      <!--<li><a href="/md/Dynamic_Force_Analysis?origin=coursemenu">Dynamic Force Analysis</a></li>-->
      <!--<li><a href="/md/Virtual_Work?origin=coursemenu">Virtual Work</a></li>-->
      <!--<li><a href="/md/Balancing?origin=coursemenu">Balancing</a></li>-->

    </ol>
  </section>
  <section class="mt-sm-4 mt-2">
    
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <p>Add any useful links to your course, can remove this section if there are none, e.g:</p>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/sta/pltips">Other cool thing</a></li>
    </ul>
  </section>
</div>
</Layout>