---

import Layout from "../layouts/CourseMenuLayout.astro"
import "../../public/static/css/course_home_pages.css"
---

<Layout title="Machine Failure">
    <!-- Change the above and below to your couse name-->



  <h1>
    <strong>Machine failure</strong>
  </h1>
  <section class="mt-sm-4 mt-2">
    <ol>
      <!-- <li><a href="/mf/Loads_on_Machines?origin=coursemenu">Loads on machines</a></li>-->
      <!--<li><a href="/mf/Clutches_and_Brakes?origin=coursemenu">Clutches and brakes</a></li>-->
      <!--<li><a href="/mf/Stress?origin=coursemenu">Stress</a></li>-->
      <li><a href="/mf/Stress_Concentrations?origin=coursemenu">Stress concentrations</a></li>
      <li><a href="/mf/Failure_Theories?origin=coursemenu">Failure theories</a></li>
      <!--<li><a href="/mf/Fatigue?origin=coursemenu">Fatigue</a></li>-->
      <li><a href="/mf/Threaded_Components?origin=coursemenu">Threaded components</a></li>
      <!--<li><a href="/mf/Buckling?origin=coursemenu">Buckling</a></li>-->
      <!--<li><a href="/mf/Gears?origin=coursemenu">Gears</a></li>-->
      <!--<li><a href="/mf/Impact?origin=coursemenu">Impact</a></li>-->
      <!--<li><a href="/mf/Springs?origin=coursemenu">Springs</a></li>-->
      <!--<li><a href="/mf/Bearings?origin=coursemenu">Bearings</a></li>-->
    </ol>
  </section>
  <section class="mt-sm-4 mt-2">
    
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <p>Add any useful links to your course, can remove this section if there are none, e.g:</p>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/sta/pltips">Other cool thing</a></li>
    </ul>
  </section>
</div>
</Layout>