---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"
import SimplifiedView from "../components/course_menus/SimplifiedView.astro"
import CourseCard from "../components/course_menus/CourseCard.astro"
import Item from "../components/Item.astro"
import Itemize from "../components/Itemize.astro"

import "../../public/static/css/course_home_pages.css"
---

    <Layout title="Machine failure">
        <div class="mt-sm-4 mt-2 row">
            <div class="col-md-12 col-12">
                <SimplifiedView id="here" title="Machine failure" title_style="h1 fw-bold" style="enumerate">
                    
        
        
        <CourseCard href="/mf/Stress_Concentrations" img_src="/mf/home_page/sc.png" title="Stress concentrations">
            <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Stress_Concentrations#Intro'>Introduction to Stress Concentrations</a>
                <ul class='list-group list-group-flush py-0'> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/mf/Stress_Concentrations#Actual_vs_Nominal'>Actual Stress Distribution vs Nominal Stress</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/mf/Stress_Concentrations#Example_Problem'>Example Problem</a></li>
                </ul>
            </li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Stress_Concentrations#Applications'>Application of Stress Concentrations</a>
                <ul class='list-group list-group-flush py-0'>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/mf/Stress_Concentrations#Residual_Stress'>Residual Stresses After Unloading</a></li>
                </ul>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Stress_Concentrations#Design_Considerations'>Design Considerations</a></li>
        </ul>
        </CourseCard>

        <CourseCard href="/mf/Failure_Theories" img_src="/mf/home_page/ft.png" title="Failure theories">
            <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Intro'>Introduction to Failure Theories</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Max_Normal'>Maximum Normal Stress Theory</a>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Max_Shear'>Maximum Shear Stress Theory (Tresca Theory)</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Max_Distortion'>Maximum Distortion Energy Theory (Von Mises Theory)</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Fracture_Mechanics'>Fracture Mechanics and Crack Propagation</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Failure_Theories#Conclusion'>Conclusion</a></li>
        </ul>
        </CourseCard>
        
        <CourseCard href="/mf/Threaded_Components" img_src="/mf/home_page/tc.png" title="Threaded components">
            <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Intro'>Introduction to Threaded Components</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#power_screws'>Power Screws</a></li>
                <ul>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Lead_Angle'>Lead Angle</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Thread_Angle'>Thread Angle</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Efficiency'>Efficiency of Power Screws</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Forces'>Power Screw Forces</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Locking'>Power Screw Self Locking and Overhauling</a></li>
                </ul>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Bolted'>Bolts and Bolted Connections</a></li>
                <ul>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#thread_stripping'>Thread Stripping</a></li>
                </ul>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/mf/Threaded_Components#Extra'>Additional Considerations</a></li>


        </ul>
        </CourseCard>
        
                   
                    <li slot="list"><a href="/mf/Stress_Concentrations?origin=coursemenu">Stress concentrations</a></li>
                    <li slot="list"><a href="/mf/Failure_Theories?origin=coursemenu">Failure theories</a></li>
                    <li slot="list"><a href="/mf/Threaded_Components?origin=coursemenu">Threaded components</a></li>

                </SimplifiedView>
            </div>
            <div class="col-md-0 col-0">
            </div>
        </div>

    </Layout>
    