---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"
import SimplifiedView from "../components/course_menus/SimplifiedView.astro"
import CourseCard from "../components/course_menus/CourseCard.astro"

import "../../public/static/css/course_home_pages.css"
---


<Layout title="Solid mechanics">

  <div class="mt-sm-4 mt-2">
    <SimplifiedView id="here" title="Solid mechanics" title_style="h1 fw-bold" style="enumerate">
      <CourseCard href="/sol/stress" img_src="/sol/stress/Stress Element.png" title="Stress">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress#units'>Units</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress#stress_under_general_loading_conditions'>Stress under general loading conditions</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress#average_normal_stress_-_axial_loading'>Average Normal Stress - Axial Loading</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress#average_shear_stress'>Average Shear Stress</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress#stress_tensor'>Stress Tensor</a></li> 
              </ul>
          </li> 
          
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress#support_reactions'>Support Reactions</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress#allowable_strength_design'>Allowable Strength Design</a></li> 
        </ul>
      </CourseCard>
      <CourseCard href="/sol/strain" img_src="/sol/strain/extensometer.jpg" title="Strain">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/strain#units'>Units</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/strain#normal_strain'>Normal Strain</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#average_normal_(extensional)_strain'>Average Normal (extensional) Strain</a></li> 
              </ul>
          </li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/strain#shear_strain'>Shear Strain</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#average_normal_(extensional)_strain'>Average Shear Strain</a></li> 
              </ul>
          </li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/strain#strain_tensor'>Strain Tensor</a></li> 
          
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/strain#measurement_of_strain'>Measurement of Strain</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#direct_measurement'>Direct Measurement</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#contact_extensometer'>Contact Extensometer</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#electrical_resistance_strain_gauges'>Electrical Resistance Strain Gauges</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#vibrating_wire_strain_gauge'>Vibrating Wire Strain Gauge</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/strain#digital_image_correlation_(dic)'>Digital Image Correlation (DIC)</a></li>
              </ul>
          </li>
        </ul>
      </CourseCard>
      <CourseCard href="/sol/material_properties" img_src="/sol/home_page/material_properties.png" title="Material properties">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/material_properties#stress-strain_diagram'>Stress-Strain Diagram</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/material_properties#elastic_behavior'>Elastic Behavior</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/material_properties#plastic_behavior'>Plastic Behavior</a></li> 
              </ul>
          </li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/material_properties#other_derived_properties'>Other Derived Properties</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/material_properties#directional_materials'>Directional Materials</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href="/sol/material_properties#poissons_ratio">Poisson's Ratio</a></li>
              </ul>
          </li> 
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/axial_loading" img_src="/sol/home_page/axial_loading.png" title="Axial loading">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#notation_and_convention'>Notation and Convention</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#saint-venants_principle_slender_beam_case'>Saint-Venant's Principle: slender beam case</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#force-deformation_relation'>Force-Deformation Relation</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#axially_varying_properties'>Axially Varying Properties</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#principle_of_superposition_'>Principle of Superposition</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#general_solving_procedure'>General Solving Procedure</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#statically_indeterminate_problems'>Statically Indeterminate Problems</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/axial_loading#general_solving_procedure'>General Solving Procedure</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/axial_loading#thermal_effects_temperature_changes'>Thermal Effects: Temperature Changes</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/axial_loading#misfit_problems'>Misfit Problems</a></li>  
              </ul>
          </li>  
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/torsion" img_src="/sol/torsion/TorsionLines.png" title="Torsion">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#units'>Units</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#notation_and_convention'>Notation and Convention</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#equilibrium'>Equilibrium</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#assuptions'>Assumptions</a>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#shear_stress_and_strain'>Shear Stress and Strain</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#geometry_of_deformation'>Shear Strain: Geometry of Deformation</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#torsion_formula'>Shear Stress: Torsion Formula</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#polar_moment_of_inertia'>Shear Stress: Polar Moment of Inertia</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#angle_of_twist'>Shear Stress: Angle of Twist</a></li> 
              </ul>
          </li> 
          
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/torsion#miscellaneous'>Miscellaneous</a></li>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#types_of_material_failure'>Types of Material Failure</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/torsion#gear_systems'>Gear Systems</a></li> 
              </ul>
          </li> 
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/shear_moment_diagrams" img_src="/sta/shear_moment_diagrams/IntLoadRecap.jpg" title="Shear moment diagrams">
        <ul class='list-group list-group-flush py-0'>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/shear_moment_diagrams#shear_moment_diagrams'>Internal Forces</a></li>  
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/shear_moment_diagrams#sign_conventions'>Sign Conventions</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/shear_moment_diagrams#general_procedure'>General Procedure</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/shear_moment_diagrams#general_rules'>General Rules</a></li>
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/bending" img_src="/sol/bending/Geometry.png" title="Bending">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/bending#sign-conventions'>Sign Conventions</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/bending#boundary-conditions'>Boundary Conditions</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#pure-bending'>Pure Bending</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#geom-deform'>Geometry of Deformation</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#stress-strain-variations'>Stress-Strain Variations</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#linear-elastic-beams'>Material Behavior: linear elastic beams</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#first-moi'>First Moment of Area: Centroid of an Area</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#second-moi'>Second Moment or Area Moment of Inertia</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#summary-moi'>Summary: Moment of Inertia</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#max-normal-stress'>Maximum Normal Stress</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/bending#eccentric-loading'>Eccentric Axial Loading in a Plane of Symmetry</a></li>  
              </ul>
          </li>  
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/transverse_shear" img_src="/sol/home_page/transverse_shear.png" title="Transverse shear">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/transverse_shear#shear_in_beams'>Shear Stress in Beams</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/transverse_shear#avg_shear_stress'>Average Shear Stress</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/transverse_shear#rect_beam'>Rectangular Beam Cross-Section</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/transverse_shear#i_beam'>I-Shaped Beam Cross-Section</a></li>  
              </ul>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/transverse_shear#shear_flow'>Built-up Members/Beams: Shear Flow</a></li> 
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/pressure_vessels" img_src="/sol/home_page/pressure_vessels.png" title="Pressure vessels">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/pressure_vessels#thin-walled-pressure-vessels'>Thin-Walled Pressure Vessels</a>
          
            <ul class='list-group list-group-flush py-0'> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/pressure_vessels#cylindrical-vessels'>Cylindrical Vessels</a></li> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/pressure_vessels#spherical-vessels'>SphericalVessels</a></li>  
            </ul>
          </li>
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/combined_loading" img_src="/sol/home_page/combined_loading.png" title="Combined loading">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/combined_loading#load-summary'>Types of Loading Summary</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/combined_loading#stress'>Stress Under Combined Loads</a></li>  
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/stress_transformation" img_src="/sol/home_page/stress_transformation.png" title="Stress transformation">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#general-state'>General State of Stress</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#sign-convention-general'>Sign Convention</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#plane-stress'>Plane Stress</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#plane-stress-transformation'>Plane Stress Transformation</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#sign-convention-transformation'>Transformation Sign Convention</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#2d'>2D Mohr's Circle</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#circle-anim'>Interactive Mohr's circle</a></li>
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#3d'>3D Mohr's Circle</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#stress-inclined-plane'>Stresses on Inclined Planes</a></li>  
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#pure-shear'>Pure Shear</a></li> 
              </ul>
          </li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#principal-stresses'>Principal Stresses</a>
            <ul class='list-group list-group-flush py-0'> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/stress_transformation#eigenvalues'>Alternative Approach: Eigenvalues</a></li> 
            </ul>
          </li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/stress_transformation#max-shear-stress'>Maximum Shear Stress</a></li>   
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/failure_theories" img_src="/sol/home_page/failure_theories.png" title="Failure theories">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/failure_theories#tresca'>Maximum Shear Stress (Tresca) Criterion</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/failure_theories#tension'>Uniaxial Tension</a></li> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/failure_theories#2d-loading'>General 2D Loading State</a></li> 
              </ul>
          </li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/failure_theories#von-mises'>Maximum Distortion Energy (Von Mises) Criterion</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/failure_theories#failure-surfaces'>Interactive 3D Failure Surfaces</a></li> 
              </ul>
          </li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#max-normal'>Maximum Normal Stress Criterion</a></li>
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/beam_deflection" img_src="/sol/home_page/beam_deflection.png" title="Beam deflection">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#sign-conventions'>Sign Conventions</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#boundary-conditions'>Boundary Conditions</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#moment-curvature'>Moment-Curvature Equation</a>
              <ul class='list-group list-group-flush py-0'> 
                  <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/beam_deflection#assumptions'>Assumptions</a></li> 
              </ul>
          </li>  
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#differentiation'>Differentiation</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#integration'>Integration</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/beam_deflection#solutions'>Beam Solutions</a></li>
        </ul>
      </CourseCard> 
      <CourseCard href="/sol/buckling" img_src="/sol/home_page/buckling.png" title="Buckling">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/buckling#stability'>Stability of Structures</a>
            <ul class='list-group list-group-flush py-0'> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/buckling#single-column'>Single Column</a></li> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/buckling#two-rods-spring'>Two Rods and a Torsional Spring</a></li>  
            </ul>
          </li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='/sol/buckling#euler'>Euler's Formula</a>
            <ul class='list-group list-group-flush py-0'> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/buckling#pinned-end'>Pinned-end Columns</a></li> 
              <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='/sol/buckling#other-boundary-conditions'>Other Boundary Conditions</a></li>  
            </ul>
          </li>  
        </ul>
      </CourseCard> 

      <li slot="list"><a href="/sol/stress?origin=coursemenu">Stress</a></li>
      <li slot="list"><a href="/sol/strain?origin=coursemenu">Strain</a></li>
      <li slot="list"><a href="/sol/material_properties?origin=coursemenu">Material properties</a></li>
      <li slot="list"><a href="/sol/axial_loading?origin=coursemenu">Axial loading</a></li>
      <li slot="list"><a href="/sol/torsion?origin=coursemenu">Torsion</a></li>
      <li slot="list"><a href="/sol/shear_moment_diagrams?origin=coursemenu">Shear moment diagrams</a></li>
      <li slot="list"><a href="/sol/bending?origin=coursemenu">Bending</a></li>
      <li slot="list"><a href="/sol/transverse_shear?origin=coursemenu">Transverse shear</a></li>
      <li slot="list"><a href="/sol/pressure_vessels?origin=coursemenu">Pressure vessels</a></li>
      <li slot="list"><a href="/sol/combined_loading?origin=coursemenu">Combined loading</a></li>
      <li slot="list"><a href="/sol/stress_transformation?origin=coursemenu">Stress transformation</a></li>
      <li slot="list"><a href="/sol/failure_theories?origin=coursemenu">Failure theories</a></li>
      <li slot="list"><a href="/sol/beam_deflection?origin=coursemenu">Beam deflection</a></li>
      <li slot="list"><a href="/sol/buckling?origin=coursemenu">Buckling</a></li>
    </SimplifiedView>
  </div>


  <div style="height:40px"></div>
  <h2 class="site-title">Faculty Authors:</h2>
  <div style="height:10px"></div>

  <div>
      <ul class="list-unstyled d-flex flex-wrap text-center mb-1 ml-4">
              <li class="me-4 text-center">
                    <a href="https://grainger.illinois.edu/about/directory/faculty/tfg">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=19205&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Tom Golecki</h2>
              </li>
              <li class="me-5 text-center">
                    <a href="https://grainger.illinois.edu/about/directory/faculty/cluetke">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=16811&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Callan Luetkemeyer</h2>
              </li>
      </ul>
  </div>
  <div style="height:20px"></div>

  <div>
    <h2 style="font-size:25px" class="site-title"> Student Authors: </h2>
    <ul>
      <li> <h2 style="font-size:20px;" class="site-title">Mikayla Hoyle</h2> </li>
      <li> <h2 style="font-size:20px;" class="site-title">Chris Raymond-Bertrand</h2> </li>
    </ul>
  </div>

  <div style="height:20px"></div>

</Layout>


<style>
      h2 {
            font-weight: 700;
            letter-spacing: -0.7px;
      }
      .small-img {
            width: 120px;
            height: 120px;
      }
      .border-orange {
            border: 6px solid #C84113;
      }
      .border-blue {

            border: 6px solid #13294B;

      }
</style>