---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"

import "../../public/static/css/course_home_pages.css"
---

<style>
       h2 {
              font-weight: 700;
              letter-spacing: -0.7px;
       }
       .small-img {
              width: 120px;
              height: 120px;
       }
       .border-orange {
              border: 6px solid #C84113;
       }
       .border-blue {

               border: 6px solid #13294B;

       }

</style>

<Layout title="Statics">
  <h1>
    <strong>Statics</strong>
  </h1>
  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/sta/introduction?origin=coursemenu">Introduction</a></li>
      <li><a href="/sta/cartesian_coordinates?origin=coursemenu">Cartesian coordinates</a></li>
      <li><a href="/sta/vectors_scalars?origin=coursemenu">Vectors and scalars</a></li>
      <li><a href="/sta/free_body_diagrams?origin=coursemenu">Free body diagrams</a></li>
      <li><a href="/sta/moments?origin=coursemenu">Moments</a></li>
      <li><a href="/sta/force_systems?origin=coursemenu">Force systems</a></li>
      <li><a href="/sta/reaction_forces?origin=coursemenu">Reaction forces</a></li>
      <li><a href="/sta/trusses?origin=coursemenu">Trusses</a></li>
      <li><a href="/sta/frames_and_machines?origin=coursemenu">Frames and machines</a></li>
      <li><a href="/sta/internal_forces?origin=coursemenu">Internal forces</a></li>
      <li><a href="/sta/friction?origin=coursemenu">Friction</a></li>
      <li><a href="/sta/geometric_properties?origin=coursemenu">Geometric properties</a></li>
      <li><a href="/sta/hydrostatic_fluid_pressure?origin=coursemenu">Hydrostatic fluid pressure</a></li>
      <li><a href="/sta/virtual_work?origin=coursemenu">Virtual work</a></li>
    </ol>
  </section>
  <h2 class = "site-title">Applications</h2>
  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/sta/track_and_field_starting_blocks">Track and field starting blocks</a></li>
    </ol>    
  </section>
  <div style="height:40px"></div>

  <h2 class="site-title">Faculty Authors:</h2>
  <div style="height:10px"></div>

  <div>
      <ul class="list-unstyled d-flex flex-wrap text-center mb-1 ml-4">
              <li class="me-4 text-center">
                    <a href="https://mechse.illinois.edu/people/profile/kellie2">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=19424&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Kellie Halloran</h2>
              </li>
              <li class="me-4 text-center">
                    <a href="https://mechse.illinois.edu/people/profile/admal">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=19308&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Nikhil Admal</h2>
              </li>
              <li class="me-5 text-center">
                    <a href="https://grainger.illinois.edu/about/directory/faculty/mwest">
                    <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?photo=16813&s=300" />
                    </a>
                    <h2 style="font-size:20px" class="site-title mt-2">Matt West</h2>
              </li>
      </ul>
  </div>
  <div style="height:30px"></div>

  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/about/reference_pages_tutorial">Reference pages tutorial</a></li>
    </ul>
  </section>
</div>
</Layout>
