---
import Layout from '../layouts/Layout.astro';
import Searchbar from '../components/Searchbar.astro'
import CardGrid from '../components/CardGrid.svelte';
---

<Layout title="Test">
    <Searchbar/>
    <h1 class="text-center">TESTS</h1>

    <CardGrid target_course="Dynamics"/>
</Layout>