---
import Layout from "../layouts/CourseMenuLayout.astro"
import Section from "../components/Section.astro"
import SubSection from "../components/SubSection.astro"
import Image from "../components/Image.astro"

import "../../public/static/css/course_home_pages.css"
---

<Layout title="Thermodynamics">

  <h1>
    <strong>Thermodynamics</strong>
  </h1>

  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/thermodynamics/thermodynamic_systems?origin=coursemenu">Thermodynamic Systems</a></li>
      <li><a href="/thermodynamics/substances?origin=coursemenu">Substances</a></li>
      <li><a href="/thermodynamics/heat_and_work?origin=coursemenu">Heat and Work</a></li>
      <li><a href="/thermodynamics/first_law?origin=coursemenu">First Law</a></li>
      <li><a href="/thermodynamics/complex_problems?origin=coursemenu">Complex Problems</a></li>
      <li><a href="/thermodynamics/thermodynamic_devices?origin=coursemenu">Thermodynamic devices</a></li>
      <li><a href="/thermodynamics/second_law?origin=coursemenu">Second Law</a></li>
      <li><a href="/thermodynamics/entropy?origin=coursemenu">Entropy</a></li>
      <li><a href="/thermodynamics/cycles?origin=coursemenu">Cycles</a></li>
    </ol>    
  </section>
  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
    </ul>
  </section>
</div>
</Layout>