---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import CalloutContainer from "../../components/CalloutContainer.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import SubSubSubSection from "../../components/SubSubSubSection.astro" 
import CalloutCard from "../../components/CalloutCard.astro" 
import OrangeText from "../../components/OrangeText.astro" 
import TealText from "../../components/TealText.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="sample">
<div slot="navtree">
<ul class="list-group list-group-flush py-0">
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#Section 1'>Section 1</a><ul>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsection 1.1'>subsection 1.1</a></li>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsection 1.2'>subsection 1.2</a><ul>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#subsubsection 1.2.1'>subsubsection 1.2.1</a></ul>
</li>
</ul>
</li>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#Section 2'>Section 2</a></li>
<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#Section 3'>Section 3</a></li>
</ul>
</div>
<SubSection title="Section 1" id="Section 1">
<p>this should be a subsection</p>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>This should be made into a callout card. We may add additional functionality later.</p>
    </CalloutCard>
</CalloutContainer>
</SubSection>
<SubSubSection title="subsection 1.1" id="subsection 1.1">
<p>this should be a subsubsection</p>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Inline math inside a callout: <InlineEquation equation="E = mc^2" /> and <InlineEquation equation="a_i^2 + b_i^2 = c_i^2" /></p>
    </CalloutCard>
</CalloutContainer>
</SubSubSection>
<SubSubSection title="subsection 1.2" id="subsection 1.2">
<p>this should be a subsubsection</p>
</SubSubSection>
<SubSubSubSection title="subsubsection 1.2.1" id="subsubsection 1.2.1">
<p>this should be a subsubsubsection</p>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Display math inside a callout:</p>

<DisplayEquation equation="\\int_0^1 x^2 \\, dx = \\frac{1}{3}" title="" />

<p>Inline next to display: <InlineEquation equation="f(x) = x^2" /></p>
    </CalloutCard>
</CalloutContainer>
</SubSubSubSection>
<SubSection title="Section 2" id="Section 2">
<p>This should be an inline equation  <InlineEquation equation="\\alpha \\sum_{n=0}^\\infty a_n" />  Immediately followed by text.</p>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Test multiple inline equations: <InlineEquation equation="x_1 + x_2 = x_3" />, <InlineEquation equation="F = ma" />, <InlineEquation equation="V = IR" /></p>
    </CalloutCard>
</CalloutContainer>
<p>This should be a displayed equation</p>
<DisplayEquation equation='\\alpha \\sum_{n=0}^\\infty a_n' title="" />
<p>with text above and below</p>
<p>This should be a displayed equation</p>

<DisplayEquation equation="e^{i\\pi} + 1 = 0" title="" />

<p>with text above and below</p>
<p>This should be a displayed equation</p>

<DisplayEquation equation="f(x) = \\sum_{n=0}^\\infty \\frac{f^{(n)}(a)}{n!}(x - a)^n" title="" />

<p>with text above and below</p>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Warning-style message: Make sure <InlineEquation equation="\\vec{E}" /> is not confused with <InlineEquation equation="E" />.</p>
<p>Use proper vector notation and units.</p>
    </CalloutCard>
</CalloutContainer>
</SubSection>
<SubSection title="Section 3" id="Section 3">
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Nested equations: Start with inline <InlineEquation equation="p = mv" /> and then:</p>

<DisplayEquation equation="K = \\frac{1}{2}mv^2" title="" />

<p>Mix of chemistry too: <InlineEquation equation="H_2O" />, <InlineEquation equation="CO_2" />, <InlineEquation equation="CH_3COOH" /></p>
    </CalloutCard>
</CalloutContainer>
<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p class="m-0"><u>Callout Card</u></p>
<p>Use of escaped $ signs: You paid $100 for a textbook. Not math!</p>
    </CalloutCard>
</CalloutContainer>
<p>More inline math: <InlineEquation equation="a^2 + b^2 = c^2" /></p>
<p>And yet another equation:</p>
<DisplayEquation equation='PV = nRT' title="" />

</SubSection>
</Layout>