<style>
    .card-container{
        width: calc(100%);
    }

    .sticky{
        align-self: start;
        position: sticky;
        top: 1rem;
    }

    @media (min-width: 992px){
        .card-container{
            width: 100%;
        }
    }
</style>

<div class="d-flex flex-column align-items-center w-100 sticky">
    <div class="card-container px-2">
        <slot />
    </div>
    
</div>