<div class="w-100 py-3 bg-blue" id="title_bar">
    <div class="container">
        <a href="/" class="text-decoration-none">
            <h1 class="title-orange fw-bold m-0" style="font-size: 4rem">Mechanics Reference</h1>
        </a>
    </div>
</div>

<nav class="w-100 py-0 navbar navbar-expand" style="background-color: black;">
    
    <!-- <div class="collapse navbar-collapse"> -->
        <div class="container">
            <ul class="navbar-nav me-auto mb-0 ">
                <div class="vr d-none d-sm-block" style="color: white;"></div>
                <li class="nav-item">
                    <a class="nav-link active text-white py-1" href="/">Home page</a>
                </li>
                <div class="vr d-none d-sm-block" style="color: white;"></div>
                <li class="nav-item">
                    <a class="nav-link active text-white py-1" href="/sta">Statics</a>
                </li>
                <div class="vr d-none d-sm-block" style="color: white;"></div>
                <li class="nav-item">
                    <a class="nav-link active text-white py-1" href="/dyn">Dynamics</a>
                </li>
                <div class="vr d-none d-sm-block" style="color: white;"></div>
                <li class="nav-item">
                    <a class="nav-link active text-white py-1" href="/sol">Solid Mechanics</a>
                </li>
                <div class="vr d-none d-sm-block" style="color: white;"></div>
            </ul>
        <!-- </div> -->
    </div>
</nav>