---
const {id, height, width, show_border="True"} = Astro.props;
---

<style>
    .canvas-container{
        border: solid 1px;
        border-color:  black;
    }
</style>

<div class="d-flex flex-column align-items-center" style=`width: ${width}px`>
    <canvas id={id} height={height} width={width} class={show_border=='True' ? "canvas-container" : ''}></canvas>
    <div>
        <slot />
    </div>
</div>
