---
const {title} = Astro.props;
---

<div class="callout-grid mt-3">
    <div class="w-100">
        <h2 class="fw-bold text-center" set:html={title}></h2>

        <slot />
    </div>
    <div class="w-100">
        <slot name="cards"/>
    </div>
</div>
