---
const {title} = Astro.props;
---

<div class="content-grid">
    <div class="w-100">
        <h3 class="fw-bold text-center" set:html={title}></h3>

        <slot />
    </div>
    <div class="w-100">
        <slot name="cards"/>
    </div>
</div>
