---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import Itemize from "../../components/Itemize.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import BlueText from "../../components/BlueText.astro" 
---
<Layout title="Combined Loading">

	<div slot="navtree">
		<ul class='list-group list-group-flush py-0'> 
			<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#load-summary'>Types of Loading Summary</a></li>
			<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#stress'>Stress Under Combined Loads</a></li>  
		</ul>
	</div>

<Section title="Combined Loading" id="combined-loading"></Section>

<SubSection title="Types of Loading Summary" id="load-summary">

If a loading results in more than one type of stress, the total stress in a cross-section can be calculated by adding the individual stresses together (superposition). A review of the stresses covered in this course is below:

<Image src='/Solid_Mechanics/Combined Loading-Figures/LoadTypes.png' width='6'></Image>

</SubSection>

<SubSection title="Stress Under Combined Loads"  id="stress">

The goal in combined loading is to determine the stresses at a point in a slender structural member subjected to arbitrary loadings. A cross-section is cut through the point of interest and the internal loading/moments are evaluated at the centroid of the section to maintain equilibrium. This internal system of loading will consist of three force components and three couple vectors (moments). To determine the stress distribution at the point, the principle of superposition is applied.

<Image src='/Solid_Mechanics/Combined Loading-Figures/Superposition.png' width='5'></Image>

<strong>Steps:</strong>
<Enumerate>
	<Item>Cut the beam to find the find internal forces/moments in a section of interest.</Item>
	<Item>Calculate all the stresses acting at a specific point within that section.</Item>
	<Item>Add up like stresses (matching subscripts) to find the total stress state (superposition).</Item>
</Enumerate>

<strong>Combined Loading Summary:</strong>
<Itemize>
	<Item>Axial force and in-plane couple vectors (moments) contribute to the normal stress distribution in the section.
    </Item>
	<Item>Shear forces and the twisting couple vector (moment) contribute to the shear stress distribution in the section.
	</Item>
</Itemize>

</SubSection>
</Layout>