---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Shear Moment Diagrams">
<Section title="Shear Moment Diagrams - Link to statics on the bending page instead of a repeated page?"></Section>

<SubSection title="Component 1"> </SubSection>

<SubSection title="Component 2"></SubSection>
</Layout>